body {
    font-family: sans-serif;
}

img {
    height: 125px;
    width: 100px;
}

#checkboxes {
    margin-left: 120px;
}

#navbar {
    background-color: rgb(191, 184, 191);
}

button {
    color: black;
    background-color: rgb(191, 184, 191);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}


.msg-timestamp {
    font-size: .75em;
    padding: -1em;
}

button:active {
    border: 1px solid black;
}

span:active {
    outline: 1.5px dotted black;
}

button:focus, button:active {
    outline: none;
    box-shadow: none;
 }

input {
    color: black;
    background-color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}

input:focus, input:active {
    outline: none;
    box-shadow: none;
 }

 .giant-size {
     font-size: 40px;
 }

 #modal {
     margin: 10px;
 }